:root {
  --base-variant: #004ecc;
  --primary-color: #F95B07;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#graficoArea {
  background-color: #ebf0f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-horizontal {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

#controles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

#controles input,
#controles select,
#controles button {
  padding: 6px;
  font-size: 14px;
  width: 180px;
}

canvas {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 400px;
  height: 300px;
}

label {
  margin-right: 5px;
}

input[type="number"],
input[type="text"],
select {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #F95B07;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d95c2f;
}

#mensagem {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

#toplogo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 180px;
}

/* Dark mode styles */

.darkmode {
  background-color: #0a0a0a;
  --primary-color: #F95B07;
  --base-variant: #1f1f1f;
}

.darkmode body {
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.darkmode #graficoArea {
  background-color: var(--base-variant);
  border: 1px solid var(--base-variant);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkmode .layout-horizontal {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.darkmode #controles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--base-variant);
  border-radius: 8px;
}

.darkmode #controles input,
.darkmode #controles select,
.darkmode #controles button {
  padding: 6px;
  font-size: 14px;
  width: 180px;
}

.darkmode canvas {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 400px;
  height: 300px;
}

.darkmode label {
  margin-right: 5px;
}

.darkmode input[type="number"],
.darkmode input[type="text"],
.darkmode select {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.darkmode button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: rgb(14, 17, 34);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.darkmode button:hover {
  background-color: #d95c2f;
}

.darkmode #mensagem {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

.darkmode #toplogo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 180px;
}


#themeswitch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

#themeswitch svg {
  fill: var(--primary-color);
}

#themeswitch svg:last-child {
  display: none;
}

.darkmode #themeswitch svg:first-child {
  display: none;
}

.darkmode #themeswitch svg:last-child {
  display: block;
}