
:root {

    --base-variant : #004ecc;
        --primary-color : #c78304;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
#graficoArea {
    background-color: #ebf0f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layout-horizontal {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
#controles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
}
#controles input,
#controles select,
#controles button {
    padding: 6px;
    font-size: 14px;
    width: 180px;
}

canvas {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 400px;
    height: 300px;
}
label {
    margin-right: 5px;
}
input[type="number"], input[type="text"], select {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 8px 16px;
    background-color: #e59400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #e4960a;
}
#mensagem {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}


.darkmode {
 background-color: #bf1919;
--primary-color : #c78304;
--base-variant : #1f1f1f;
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
#graficoArea {
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layout-horizontal {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
#controles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #1f1f1f;
    border-radius: 8px;
}
#controles input,
#controles select,
#controles button {
    padding: 6px;
    font-size: 14px;
    width: 180px;
}

canvas {
    border: 1px solid #d78d05;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 400px;
    height: 300px;
}
label {
    margin-right: 5px;
}
input[type="number"], input[type="text"], select {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 8px 16px;
    background-color: #e59400;
    color: rgb(14, 17, 34);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e4960a;
}
#mensagem {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}
}



#themeswitch {
height: 50px;
width: 50px;
padding: 0;
border-radius: 50%;
background-color: var(--base-variant);
display:flex;
justify-content:center;
align-items:center;
position:fixed;
top: 20px;
right: 20px;
}
#themeswitch svg {
  fill : var(--primary-color);
}
#themeswitch svg:last-child {
    display : none;
}
.darkmode #themeswitch svg:first-child {
    display : none;
}
.darkmode #themeswitch svg:last-child {
    display : block;
}
